.vistoria{
  max-width: 500px;
  margin: 90px auto;
}

.vistoria h1{
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.vistoria p{
  text-align: center;
  color: #ACF87E;
  font-size: 1rem;
  margin: 10px 0;
}

.opcoes {
  background-color: #fff;
  border-radius: 20px;
  padding: 50px;
}

.opcoes h1{
  color: black;
}

.opcoes ul {
  display: flex;
  flex-wrap: wrap;
}

.opcoes li {
  display: flex;
  background: #fff;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 5px 20px;
  cursor: pointer;
}

.opcoes li:hover {
  background-color: #ccc;
}
